*{
    margin: 0;
    font-family: sans-serif;
}
.bagraun-img{
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(./Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;

}
.box2{
    display: flex;gap: 40px;
    align-items: center;
}
.box3{
    display: flex;gap: 10px;
    align-items: center;

}
.box5{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    height: 500px;
    
}
.p1{
    font-size: 80px;
    font-weight: 400px;
    width: 300px;
}
.p2{
    font-size: 20px;
    font-weight: 400px;
    width: 450px; 
}
.button{
    background-color: rgba(96, 200, 128, 1);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 30px;
    width: 300px;
    color: white;
}
.hr{
    border: 1px solid rgb(129, 129, 129);
}
.box10{
        display: none;
}
.davra{
    
    position: absolute;
    top: 490px;
    right: 120px;
}
.imgdavra{
    width: 150px;
    height: 150px;
}
.contimg{
    width: 400px;
    height: 400px;
}
.content{
    width: 80%;
    margin: auto;
    display: flex;gap: 60px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.content2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    font-weight: 400px;
    color: rgba(61, 61, 61, 1);
}
.bagdan{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.yslugi{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.yslugi2{
    border: 1px solid rgb(238, 231, 231);
    display: flex;gap: 30px;
    padding: 30px;

    
}
.yslugi3{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.p3{
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgba(96, 200, 128, 1);
    font-size: 20px;
    font-weight: 400px;
    text-decoration: underline;
}
.yslugi5{
    color: rgba(61, 61, 61, 1);
    font-size: 36px;
    font-weight: 400px;
}
.bag1{
    color: rgba(96, 200, 128, 1);
    font-size: 60px;
    font-weight: bold;
}
.bag2{
    color: rgba(61, 61, 61, 1);
    font-size: 50px;
    font-weight:400px;

}
.sektion{
    width: 100%;
    margin: auto;
    background-color: rgba(27, 30, 49, 1);
    color: white;
    height: 650px;
}
.bag3{
    color: white;
    font-size: 50px;
    font-weight:400px;

}
.impuls{
    width: 80%;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.impuls3{
    width: 80px;
    height: 80px;
}
.gad1{
    border: 1px solid rgb(235, 231, 231);
    display: flex;
    flex-direction: column; 
    padding: 20px 20px;
    row-gap: 10px;
    width: 300px;
   
}
.p5{
    color: rgba(61, 61, 61, 1);
    font-size: 36px;
    font-weight: 400px;

}
.p6{
    color: rgba(61, 61, 61, 1);
    font-size: 18px;
    font-weight: 400px;
}
.Raboti{
    display: flex;gap: 60px;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 120px;
}
.Raboti2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 600px;
    
}
.praktic{
    position: relative;
}
.praktic2{
    position: absolute;
    color: white;
    top: 170px;
    left: 50px;
    width: 300px;
    text-align: center;
}
.v1{
    width: 400px;
    height: 400px;
}
.v2{
    width: 550px;
    height: 550px;
}
.praktic3{
    position: absolute;
    top: -80px;
    right:-80px;
}
.praktic4{
    position: absolute;
    top: -120px;
    left: 150px;
}
.praktic5{
    position: absolute;
    top: 140px;
    left:430px;
}
.praktic6{
    position: absolute;
    bottom: -100px;
    left:150px;
}
.praktic7{
    position: absolute;
    top: 160px;
    left:-120px;
}
.praktic8{
    position: absolute;
    top: 150px;
    left:-130px;
    z-index: -1;
}
.p10{
    width: 500px;
    color: rgba(61, 61, 61, 1);
    font-size: 20px;
    

}
.p11{
    font-size: 26px;
    font-weight: 400px;
    
}
.sponsori{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.sponsori2{
    border: 1px solid rgb(247, 245, 245);
    width: 170px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.o1{
    width: 100px;
}
.sponsori3{
    border: 1px solid rgb(247, 245, 245);
    width: 170px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.danix{
    color: rgba(96, 200, 128, 1);
    font-size: 32px;
    font-weight: 400px;
}
.Fronted{
    width: 80%;
    margin: auto;
    display: flex;gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.Backend{
    display: flex;
    align-items: center;
    
}
.var{
    border: 1px solid rgb(204, 203, 203);
    
}
 .Novosti{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .obzor{
    border: 1px solid rgb(223, 222, 222);
    padding: 20px;
 }










@media (max-width:510px) {
    .hr{
        display: none;
    }
    .p1{
        font-size: 36px;
    }
    .p2{
        font-size: 18px;
        width: 335px;
    }
    .boximg{
        display: block;
    }
    .boximg{
        display: none;
    }
    .img{
        display: none;
    }
    .box10{
        display: block;
       
    }
    .imgdavra{
       width: 80px;
       height: 80px;
   }
   .davra{
    top: 570px;
    right: 40px;
   }
   .content{
    display: flex;
    flex-direction: column;
   }
   .contimg{
    width: 335px;
    height: 335px;
   }
   .n1{
    width: 40px;
    height: 40px;
   }
   .yslugi5{
    font-size: 20px;
   }
   .bag1{
    font-size: 30px;
   }
   .bag2{
    font-size: 36px;
   }
   .sektion{
    height: 900px;
   }
   .impuls3{
    width: 40px;
    height: 40px;
   }
   .gad1{

    display: flex;gap: 10px;
    flex-direction: row;

   }
   .p5{
    font-size: 20px;
   }
   .p6{
    font-size: 15px;
   }
   .Raboti{
    display: flex;
    flex-direction: column;
    
   }
   .Raboti2{
    width: 340px;
   }
   .v1{
    
    width: 211px;
    height: 211px;
   }
   .v2{
    /* background-color: blue; */
    width: 287px;
    height: 287px;
   }
   .praktic{
    margin-top: 100px;
    
   }
   .img10{
    width: 47px;
    height: 47px;
   }
  .p10{
    width: 335px;
  }
  .praktic8{
    display: none;
    
  } 
  .praktic7{
    position: absolute;
    top: 100px;
    left:260px;
} 
  .praktic6{
    top: 220px;
    
  }
  .praktic5{
    top: 100px;
    left: -20px;
  }
  .praktic4{
    top: -50px;
    left: 120px;
  }
   .praktic3{
    top: -30px;
    right:20px;
    /* background-color: aqua; */
  } 
  .praktic2{
    /* background-color: yellow; */
    width: 160px;
    top: 50px;
    right: 40px;
  }
  .praktic10{
    position: absolute;
    
    left: 40px;
  }
  .p11{
    font-size: 14px;
  }
  .d1{
    margin-top: 300px;
  }
  .sponsori{
    display: flex;
    flex-wrap: nowrap;
  }
  .o1{
    width: 117px;
    height: 70px;
  }
  .sponsori3{
    display: none;
  }
  .Fronted{
    display: flex;
    flex-direction: column;
 }
 .Backend{
    overflow: hidden;
 }
 .Novosti{
    overflow: hidden;
 }

  
   
   
    
}